langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchain_huggingface
python-dotenv
pydantic
arxiv
wikipedia
bs4
sentence-transformers
langgraph-cli[inmem]
faiss-cpu
langchain-classic
tiktoken
langchain-tavily
litellm
langchain-litellm
tavily-python